<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <h1>Upload</h1>
    <div class="box">
        <h2>Wrzuc plik</h2>
        <form action="/upload" enctype="multipart/form-data" method="post" class="fieldset_body">
            <p class="field">
                <div class="upload_btn_wrapper">
                    <input type="file" name="upload" multiple="multiple">
                </div>
                <input type="submit" value="Wyślij">
            </p>
        </form>
    </div>
</body>

</html>